@import "tailwindcss";

@theme {
  --background: #0b0a0a;
  --background-form: #1a1a1a;
  --main-color: #f3f4f6;
  --accent-color: #155dfc;
}

body {
  @apply bg-[var(--background)] text-[var(--main-color)] overflow-x-hidden overscroll-none font-sans sm:mx-20 my-10;
}

body::-webkit-scrollbar {
  @apply w-0;
}
